*{
    padding:0;
    margin:0;
    border:0;
    cursor: url("../../img/goose-pointer.svg")  ,auto;
    box-sizing: border-box;

}

input, textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Montserrat', sans-serif;

}
@media screen and (-webkit-min-device-pixel-ratio: 0){
    select:focus, textarea:focus, input:focus{
        font-size:16px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #fff;

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}
/* ------------------------------------------------- */
.top_container {
    background-color: #E44900;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.header {    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    padding-top: 3rem;
    padding-bottom: 5rem;
    width: 100%;
}


.hey_container{
    padding-top: 2rem;
    padding-left: 16px;
    padding-right: 16px;

}

.hey_title{
    font-size:max(35px, min(60px, 4.333vw));
    color: #ffffff;
    margin-bottom: 20px;
}
.hey_text{
    font-size:max(33px, min(60px, 4.333vw));
    font-weight: 700;
    color: #ffffff;
    align-items: center;

}
.image_goose{
    display: flex;
    padding-top: 3%;
    flex-direction: column;
    align-items: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 16px;
    padding-right: 16px;
}
.image_goose img{
    max-width: 100%;
}

@media screen and (max-width: 708px) {
    .header {
        flex-direction: column;
    }  
    .image_goose{
        padding-top: 80px;
    } 
    .image_goose img{
        height: 454px;
        width: 180px
    } 
}
/* ------------------------------------------------- */
.top-section {
    background-color: #F6F6F6;
 }
.section-block {
    max-width: 1200px;
    height: 393px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }
.block-1 {
    width: 374px;
    font-size: 28px;
    font-weight: 400;
    padding-top: 100px;
    padding-left: 3%;
    padding-right: 3%;


 }
.block-2 {
    width: 423px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 28px;
    font-weight: 400;
    padding: 100px 22px;
    padding-left: 3%;
    padding-right: 3%;

 }
.block-3 {
    width: 374px;
    font-size: 28px;
    font-weight: 400;
    padding-top: 100px;
    padding-left: 3%;
    padding-right: 3%;

}

@media screen and (max-width: 1200px) {
    .section-block {
        height: 300px;
     }
    .block-1 {
        font-size: 20px;
        padding-top: 100px;
     }
    .block-2 {
        font-size: 20px;
        padding-top: 100px;

     }
    .block-3 {
        font-size: 20px;
        padding-top: 100px;

    }  
}
@media screen and (max-width: 850px) {
    .top-section {
        background-color: #F6F6F6;
        padding-left: 5%;
        padding-right: 5%;
     }
    .section-block {
        max-width: 1200px;
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        

     }
    .block-1 {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0;

     }
    .block-2 {
        width: 100%;
        border-left: 0px solid black;
        border-right: 0px solid black;
        font-size: 20px;
        font-weight: 400;
        padding: 0 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0%;


     }
    .block-3 {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0%;

    } 
}



/* ------------------------------------------------- */
.text-cont{
    background-color: #fff;
    padding-top: 100px;

}
.text-section {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.ts-1, .ts-2, .ts-3 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.28;
    max-width: 1200px;
    font-size:max(2em, min(3em, 3.333vw));
    margin-left: 80px;

 }
.ts-2, .ts-3 {    
    color: #E44900;
    padding-left: 360px;
}
  

 @media screen and (max-width: 1200px) {
    .ts-2, .ts-3 {    
        padding-left: 260px;
    }
}

@media screen and (max-width: 850px) {
    .ts-1, .ts-2, .ts-3{
        font-size:max(1em, min(3em, 3.333vw));
    }
     .ts-2, .ts-3{
        padding-left: 200px;
    }
}

@media screen and (max-width: 665px) {
     .ts-2, .ts-3{
        padding-left: 150px;
    }
}

@media screen and (max-width: 500px) {
    .ts-1, .ts-2, .ts-3{
        font-size:25px;
        margin-left: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
    .ts-2{
        padding-top: 50px;
    }
    .text-section {
        margin: 0 0 0;
        text-align: center;
    }
}

/* ------------------------------------------------- */

.block-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px 16px 118px 16px;
}
.block-1-3 { 
    max-width: 1200px;
    background-color: #E44900;
    border-radius: 22px;
    padding: 56px 80px 80px 80px;
    border-color: #fff;
    width: 100%;
}

.top-row {
    color: white;
    font-size: 40px;
    font-weight: 400;
    padding: 56px 0;
    display: block;
}
.top-row div:nth-child(1){
    display: inline-block;
}
.top-row div:nth-child(2){
    display: inline-block;
} 

.block-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 }

.n-block {
    color: white;
    font-size: 60px;
    font-weight: 400;
    padding: 30px; 
    margin-right: 15px;
    width: 10%;
}
.p-block {
    color: white;
    font-size: 24px;
    font-weight: 400;    
    margin-left: 40px;
    padding-top: 30px;
    padding-right: 50px;
    border-bottom: 1px solid white;
    width: 100%;
 }
.two-block{
    display: flex;
    align-items: center;
    padding-top: 0;

}
 .last-block {
    border: none;
 }




 @media screen and (max-width: 800px) {
    .block-container {
        flex-direction: column;
    } 
    .block-1-3 {
        padding: 28px 18px 56px 18px;
    }
    .top-row {
        font-size: 28px;
        padding: 0 0;

    }
    .top-row div:nth-child(1){
        display:block;
    }
    .top-row div:nth-child(2){
        display: block;
    } 
    .n-block {   
        padding: 30px 0 0 0;
        display:flex;
        align-items: flex-end;
        width:auto
    }
    .line{
        border-top: 1px solid #fff;
        height: 0px;
        width: 100%;
        margin-left: 10px;
        padding-bottom: 15px;
        }
    .num{
    }
    .p-block {   
        font-size: 18px;
        padding: 0 0;
        margin-left: 0;
        border: none;

    }
}




/* ------------------------------------------------- */


.register-block {
    background-color: #F6F6F6;
    padding: 60px;
 }
.left-right-block {    
    max-width: 1200px;
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
 }

.img-container{
    width: 40%;
   
}
.img-goose img{ 
    object-fit: cover;
    width: 100%;
    height: 100%;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}
.right-block { 
justify-content: center;    width: 60%;
    height: auto;
}
.text-block { 

font-size: 40px;
font-weight: 500;
line-height: 1.66;
}
.button-register {
    width: 299px;
    max-width: 100%;

    height: 75px;
    font-size: 22px;
    color: white;
    background-color: #E44900;
    border-radius: 6px;
    border: none;
    margin-top: 58px;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;

}



.button-register:hover{
    opacity: 0.95;

}
.button-register:active{
    opacity: 0.5;

}


@media screen and (max-width: 1200px) {
    .text-block { 
        font-size: 30px;
    }     

}

@media screen and (max-width: 870px) {
    .text-block { 
        font-size: 15px;
    } 
    .button-register {
        width: 200px;
        height: 50px;
        font-size: 16px;
        margin-top: 40px;
    }
    
}

@media screen and (max-width: 550px) {
    
.register-block {
    background-color: #F6F6F6;
    padding: 60px;
 }
.left-right-block {    
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

.img-container{
    width: 100%;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.right-block { 
    justify-content: center;    
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.text-block { 

font-size: 15px;
}
.button-register {
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin-top: 58px;
    align-items: center;
}
}


/* ------------------------------------------------- */
 


/* pop-up */

.pop-up-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width: 600px;
    max-width: 100%;
    height: 99%;
    max-height: 900px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.9);
    border-radius: 27px;

}

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;

  }

.closed {
visibility: visible;
}

.opened{
    visibility: visible;
}




  .pop-up-container .close-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 20px;
    color: #A7A7A7;
    padding: 5px 10px;
    font-size: 1.3rem;
    background-color: white;

  }

 .close-button:hover  {

        -webkit-transform: scale(1.005);
        -moz-transform: scale(1.005);
        -o-transform: scale(1.005);
        transform: scale(1.005);
  }

.pop-up-form {
    border-radius: 13px;
    background-color: white;
    padding: 59px 72px 84px 63px;

    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

 }


 .pu-label{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 121.2%;
    text-align: center;
    color: #000000;
    padding-bottom: 58px;
 }


.pa-input {
    display: block;
    color: #A7A7A7;
    width: 100%;
    height: 61px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    border-radius: 6px;
    border: none;
    background-color: #F4F4F4;
    margin: 0px auto 23px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7px;

}

.label-name{
    font-weight: 700;
    color: #5A5A5A;
    margin-bottom: 40px;

}

.pa-input::placeholder {
    color: #A7A7A7;
    opacity: 1;
}
.pa-input-submit {
    width: 100%;
    color: white;
    height: 62px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 6px;
    border: none;
    background-color: #E44900;
    font-family: 'Montserrat', sans-serif;
    margin-top: 43px;
    margin-bottom: 27px;
}
.pa-input-submit:hover {
    opacity: 0.95;
}

.policy {
    font-size: 12px;
    font-weight: 400;
    color: #474747;
    text-align: center;
    text-decoration: none;
    outline: none;
}
.policy a{
    text-decoration: underline ;
    outline: none;
    color: #474747;
}
.policy a:hover{
    font-weight: 500;


}


/* ---------------------------- */

.checkbox-level-container {
   margin-bottom: 10px;
    margin-top: 7px;
   display: flex;
}

.checkbox-level-label input[type='radio'] {
    display: none;
}
.checkbox-level-label {
margin-right: 10px;
}

.checkbox-level-label label {
    color: #000000;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;

}

.checkbox-level-label input[type="radio"]+label:before {
    content: "";
    width: 9px;
    height: 9px;
    padding: 3px;
    margin: 5px;
    margin-right: 10px;
    background-clip:content-box;
    border: 1px solid #ADABAB;
    border-radius: 50%;
}

  .checkbox-level-label input[type="radio"]:checked + label:before {
    background-color: #E44900;
}
  .checkbox-level-label:hover {
    opacity: 0.7;
}



/* --------------------------- */


@media screen and (max-width: 650px) {
.pop-up-container {
    max-width: 90%;
    height: 600px;
}

.pop-up-form {
    padding: 38px 15px 20px 15px;
    width: 100%;
    height: 100%;
 }

 .pu-label{
    padding-bottom: 30px;
 }

.pa-input-submit {
    margin-top: 23px;
    margin-bottom: 27px;
}

}


/*-------------------------------------------*/

.footer {
    background-color: #E44900;
}

.footer-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    padding: 45px 16px 54px 16px;
}

.request-button {
    color: black;
    width: 230px;
    height: 57px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    background-color: white;
    margin: 0 0 0 11px;
    text-align: center;


}

.request-button:hover {
    opacity: 0.95;

}

.CV-button {
    color: white;
    width: 230px;
    height: 57px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    background-color: #E44900;
    margin: 0 0 0 0px;
    text-align: center;
}

.CV-button:hover {

    -moz-box-shadow: 0px 10px 25px 0px#adabab50;
        -webkit-box-shadow: 0px 10px 25px 0px#adabab50;
        box-shadow:0px 10px 25px 0px#adabab50;
        opacity: 0.95;


}

.input-submit:hover{
    opacity: 0.8;

}
.input-submit:active{
    opacity: 0.5;
}



.left-footer {
    color: white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
}

.right-footer{
    display: flex;
}
.email{
    margin-right: 2rem;
    text-decoration: underline ;
}
.url a{
    text-decoration: none;
    color: white;
    outline: none;
}

.url a:hover{
    font-weight: 410;
}


.link-border{
    border-top: solid 1px #fff;
    width: 100%;
    margin-bottom: 25px;
}

.footer-link-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    padding: 0px 16px 100px 16px;
}

.footer-link-block{
    display:flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px ;
    color: #fff;
    text-decoration: none;
    outline: none;

}
.footer-link-block:hover{
        opacity: 0.9;

}

.footer-link-block img{
    width: 28px;
    height: 28px;
    margin-right: 11px;
}

@media screen and (max-width: 1000px) {
    .footer-container{
        padding-top: 50px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .left-footer{
        flex-direction: column;
    }
    .right-footer{
        justify-content: space-between;
        width: 100%;
    }
    .url{
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .CV-button {
        width: 50%;
        height: 57px;
    }
    .request-button {
        width: 50%;
        margin: 0 0 0 16px;
    }
}


@media screen and (max-width: 450px) {
    .footer-container{
    }
    .left-footer{
        flex-direction: column;
    }
    .right-footer{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .url{
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .CV-button {
        width: 100%;
        height: 57px;
    }
    .request-button {
        width: 100%;
        margin: 0 0 0 0px;
        margin-top: 12px;

    }

    .footer-link-block{
        font-size: 13px ;


    }
}




