<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="icon" href="/static/img/goose-wh-circle.svg">

  <link rel="stylesheet" href= "{{ url_for('static', filename='css/main/style.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"> 

</head>

<body>
    <div class="wrapper">
        
    <div class="top_container">
      <div class="header">
        <div class="hey_container">
          <div class="hey_title">Hey!</div>
          <div class="hey_text">
            <div>I’m IT goose GAGA - </div>
            <div>light as a feather</div>
            <div>HR Tech service.</div>
          </div>          
        </div>      
        <div class="image_goose">
            <img src="{{url_for('static', filename='img/goose.svg')}}" width="auto" alt="goose">
        </div>
      </div>
    </div>   

        <div class="main">
      <div class="middle_container">
        <p class="intro">GAGA goose is a multifunctional project created by E-ngineers company that has been operating in the IT market since 2007, along with TeamFi, a service for working with remote teams all over the world.
        </p>

        <div class="team_body">
          <div class="team_title">
            Our international team:
          </div>
          <div class="team_list">
            <div class="list" style="margin-top: 0;">Project managers</div>
            <div style="border-bottom: solid 1px #000;"></div>
            <div class="list">Lawyers</div>
            <div style="border-bottom: solid 1px #000;"></div>
            <div class="list">Tax consultants</div> 
            <div style="border-bottom: solid 1px #000;"></div>
            <div class="list">Recruitment experts</div>
            <div style="border-bottom: solid 1px #000;"></div>
            <div class="list">Developers</div>
          </div>
        </div>


        <div class="cont_button">
          <div class="items_button">
            <div class="button_outstaff">
              <a class="link-1" href="outstaff">
                <p>Outstaff</p>
                <div class="button-pointer">
                  <img src="{{url_for('static', filename='img/pointer.svg')}}" alt="goose">
                </div>
              </a>
              
            </div>
            <div class="button_payroll">
              <a class="link-2" href="payroll">
                Payroll
                <div class="button-pointer">
                  <img src="{{url_for('static', filename='img/pointer.svg')}}" alt="goose">
                </div>
              </a>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    
      </div>
    </div>
      <footer class="footer">

        <div class="footer-container">


            <div class="left-footer">
              <div class="email" ><a >hr@e-ngineers.com</a></div>
              <div class="url" ><a href="https://e-ngineers.com/">www.e-ngineers.com</a> </div>
            </div>

            <div class="right-footer" onsubmit="return false;">
              <input class="CV-button" type="submit" value="Send your CV" onClick="window.location='https://t.me/itgaga_bot'">


              <input id="open-button" class="request-button" type="submit"  value="Send your request">
            </div>

        </div>
      </footer>

      <div class="modal-overlay" id="modal-overlay"></div>
      <div class="pop-up-container" id="modal" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog" >
        <button class="close-button" id="close-button" >X</button>


        <div class="pop-up-form">

          <div class="pu-label">Please fill the form</div>

          <form onsubmit="return false;">
            <label class="label-name">Your name
              <input class="pa-input " type="text" placeholder="Name">
            </label>

            <label class="label-name">Your email
              <input class="pa-input " inputmode="email" type="email" placeholder="Email">
            </label>

            <label class="label-name">Your phone
              <input class="pa-input" type="tel" id="close-buttonn"  inputmode="tel" placeholder="Phone">
            </label>

            <input class=" pa-input-submit"  type="submit" id="pa-input-submit" value="Submit">
          </form>

          <div class="policy" > By submitting this form you agree to the privacy policy</div>
        </div>

      </div>

      <script>
        var modal = document.querySelector("#modal"),
            modalOverlay = document.querySelector("#modal-overlay"),
            closeButton = document.querySelector("#close-button"),
            openButton = document.querySelector("#open-button");
            submitClose = document.querySelector("#pa-input-submit");


       openButton.addEventListener("click", function() {
        modal.classList.toggle("closed");
        modalOverlay.classList.toggle("closed");
       });

       modalOverlay.addEventListener("click", function() {
        modal.classList.toggle("closed");
        modalOverlay.classList.toggle("closed");
       });

       closeButton.addEventListener("click", function() {
        modal.classList.toggle("closed");
        modalOverlay.classList.toggle("closed");
       });

       submitClose.addEventListener("click", function() {
        modal.classList.toggle("closed");
        modalOverlay.classList.toggle("closed");
       });

       window.onkeydown = function( event ) {
        if ( event.keyCode == 27 ) {
          modal.classList.toggle("closed");
          modalOverlay.classList.toggle("closed");
        }
      };



      </script>

    
  </body>
</html>