<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/flying.css') }}">
    <title>Flying</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/static/img/goose-wh-circle.svg">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"> 

</head>
<body>

    <div class="wrapper">
       <div class="main">
            <div class="text">
                <div>I’m flying to find you</div>
                <div>the best talents on</div>
            <div> the market.</div>
           
            </div>
            <div class="gif-block">
                <img src="{{url_for('static', filename='img/goose-flying1.gif')}}" width="100%" alt="goose">
            </div>
        </div>
    </div>

<script>
     setTimeout(function(){
        window.location.href = '/questions';
     }, 4000);
</script>

</body>
</html>