<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/load_page.css') }}">
    <title>Load_page</title>
    <link rel="icon" href="/static/img/goose-wh-circle.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"> 

</head>
<body>

    <div class="wrapper">
        <div class="text">
            <div class="row-1">
            I have your job description
            </div>
            <div class="row-2">
            all set.
            </div>
        </div>
        <div class="loader"> </div>
        <div class="img-goose">
            <img src="{{url_for('static', filename='img/goose.svg')}}"  alt="img-goose">
        </div>
    </div>

<script>
     setTimeout(function(){
        window.location.href = '/presentation';
     }, 2000);
</script>

</body>
</html>