<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/questions.css') }}">
    <title>Requests</title>
    <link rel="icon" href="/static/img/goose-wh-circle.svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"> 

</head>
<body>

    <div class="wrapper">
       <div class="main">
            <div class="text">
                <div>Do you have any more</div>
                <div>requests?</div>
            </div>

            <div class="button-block">                
                <button class="btn-left" onclick="window.location.href = '/form';">Yes</button>
                <button class="btn-right" onclick="window.location.href = '/contact';">No</button>
            </div>
        </div>
    </div>

</body>
</html>