<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Response</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body style="font-family: 'Montserrat', sans-serif; background-color: #E44900;">

    <div class="wrapper" style="
                                ">
       <div class="main" style="
                                margin: auto;
                                padding-top: 1px;
                                padding-left: 16px;
                                padding-right: 16px;">
        <div class="pop-up-container"  style="
                                        display: flex;
                                        flex-wrap: wrap;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        width: 600px;
                                        background: white;
                                        box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.9);
                                        border-radius: 27px;">

            <div class="pop-up-form" style="
                                        border-radius: 13px;
                                        background-color: white;
                                        padding: 30px 72px 30px 63px;
                                        width: 100%;
                                        height: 100%;">

                <label class="label-name" style="
                                            font-weight: 700;
                                            color: #5A5A5A;
                                            margin-bottom: 40px;">
                    Name
                    <div class="pa-input " style="
                                            display: block;
                                            color: #E44900;
                                            width: 100%;
                                            height: 35px;
                                            font-size: 25px;
                                            font-weight: 400;
                                            padding-left: 20px;
                                            padding-top: 5px;
                                            border-radius: 6px;
                                            border: none;
                                            background-color: #F4F4F4;
                                            margin: 0px auto 23px;
                                            font-family: 'Montserrat', sans-serif;
                                            margin-top: 7px;">
                        {{name}} </div>
                </label>

                <label class="label-name" style="
                                            font-weight: 700;
                                            color: #5A5A5A;
                                            margin-bottom: 40px;">
                    Email
                    <div class="pa-input" style="
                                                display: block;
                                                color: #E44900;
                                                width: 100%;
                                                height: 35px;
                                                font-size: 25px;
                                                font-weight: 400;
                                                padding-left: 20px;
                                                padding-top: 5px;
                                                border-radius: 6px;
                                                border: none;
                                                background-color: #F4F4F4;
                                                margin: 0px auto 23px;
                                                font-family: 'Montserrat', sans-serif;
                                                margin-top: 7px;
                                                text-decoration: underline ;
                                                outline: none;" >
                        {{email}} </div>
                </label>

                <label class="label-name" style="
                                            font-weight: 700;
                                            color: #5A5A5A;
                                            margin-bottom: 40px;">
                    Phone
                  <div class="pa-input" style="
                                    display: block;
                                    color: #E44900;
                                    width: 100%;
                                    height: 35px;
                                    font-size: 25px;
                                    font-weight: 400;
                                    padding-left: 20px;
                                    padding-top: 5px;
                                    border-radius: 6px;
                                    border: none;
                                    background-color: #F4F4F4;
                                    margin: 0px auto 23px;
                                    font-family: 'Montserrat', sans-serif;
                                    margin-top: 7px;">
                      {{tel}}</div>
                </label>

                <label class="label-name" style="
                                        font-weight: 700;
                                        color: #5A5A5A;
                                        margin-bottom: 40px;">
                    Theme of request
                <div class="pa-input" style="
                                            display: block;
                                            color: #E44900;
                                            width: 100%;
                                            height: 35px;
                                            font-size: 25px;
                                            font-weight: 400;
                                            padding-left: 20px;
                                            padding-top: 5px;
                                            border-radius: 6px;
                                            border: none;
                                            background-color: #F4F4F4;
                                            margin: 0px auto 23px;
                                            font-family: 'Montserrat', sans-serif;
                                            margin-top: 7px;">
                    {{req_type}}</div>
                </label>
                <label class="label-name" style="
                                                font-weight: 700;
                                                color: #5A5A5A;
                                                margin-bottom: 40px;">Comment
                    <div class="pa-input" style="
                                                        height:100px;
                                                        display: block;
                                                        color: #A7A7A7;
                                                        width: 100%;
                                                        font-size: 15px;
                                                        font-weight: 400;
                                                        padding-left: 20px;
                                                        padding-top: 5px;
                                                        border-radius: 6px;
                                                        border: none;
                                                        background-color: #F4F4F4;
                                                        margin: 0px auto 23px;
                                                        font-family: 'Montserrat', sans-serif;
                                                        text-allign: left;
                                                        -webkit-appearance: none;
                                                        -moz-appearance: none;
                                                        appearance: none;
                                                        margin-top: 7px;">
                        {{comment}}</div>
                </label>
            </div>
            </div>
        </div>
    </div>
</body>
</html>